---
import { ViewTransitions } from "astro:transitions";
import ContentWrap from "./ContentWrap/ContentWrap.astro";
import HeadCommon from "./Head/HeadCommon.astro";
import Title from "./Head/Title.astro";
import Footer from "./Footer/Footer.astro";

interface Props {
  pageTitle?: string;
}

const { pageTitle } = Astro.props;

const SITE_TITLE: string = "宮崎県架空信用組合";
---

<!doctype html>
<html lang="ja">
  <head>
    <HeadCommon />
    <Title pageTitle={pageTitle} siteTitle={SITE_TITLE} />
    <ViewTransitions />
  </head>
  <body>
    <header class="bg-slate-950 text-white">
      <ContentWrap>
        <h1>{SITE_TITLE}</h1>
      </ContentWrap>
    </header>
    <main>
      <ContentWrap>
        <h2>あいうえお</h2>
      </ContentWrap>
    </main>
    <footer class="bg-slate-950 text-white">
      <ContentWrap>
        <Footer />
      </ContentWrap>
    </footer>
  </body>
</html>
